# Dependencies
node_modules/
package-lock.json

# Build output
dist/
out-tsc/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# Angular cache
.angular/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
